.site-nav
  reset-list()
  font-family "Rubik"
  font-weight 500
  font-size 20px
  line-height 24px
  +min-breakpoint(medium)
    display flex

.site-nav__item
  +min-breakpoint(medium)
    margin-right 30px
    &:last-child
      margin-right 0
  &:hover,
  &:focus
    opacity 0.7

.site-nav a
  font-family "Lato"
  font-weight 700
  padding 12.5px 0
  display block
  color var(--main-text-color)




