- var navigationItems = [{id: 0, title: "Почему мы?", url:"/about.html"},{id: 1, title: "Номера", url:"/rooms.html"},{id: 2, title: "Отзывы", url:"/reviews.html"},{id: 3,title: "Как нас найти?", url:"/contacts.html"}]

ul.site-nav
    each val in navigationItems
        li.site-nav__item
            a(href=val.url)=val.title