.rooms-push
  padding-bottom 70px

.rooms-push__list
  reset-list()
  text-align left

.rooms-push__slider
  box-shadow 0 0 25px rgba(208, 208, 208, 0.25)
  border-radius 0 0 8px 8px

.rooms-push__features
  reset-list()
  margin-bottom auto

.rooms-push__title
  heading2lvl()

.rooms-push__item
  display flex
  flex-direction column
  align-items center
  padding-bottom 25px

.rooms-push__description
  padding 15px 25px 0
  margin-bottom auto

.rooms-push__name
  margin 0 0 15px 0
  font-family "Rubik"
  font-weight 500
  font-size 20px
  line-height 24px

.rooms-push__photo
  width 100%
  border-radius 8px 8px 0 0
  margin 0

.rooms-push__feature
  position relative
  line-height 27px
  padding-left 19px
  &::before
    position absolute
    top 50%
    left 1px
    margin-top -6px
    content ''
    width 11px
    height 11px
    border-radius 50%
    background-color var(--main-yellow)
