.rooms-push
  padding-bottom 70px
  +min-breakpoint(medium)
    padding-bottom 105px
  +min-breakpoint(large)
    padding-bottom 112px

.rooms-push__list
  reset-list()

.rooms-push__features
  reset-list()
  margin-bottom auto

.rooms-push__title
  heading2lvl()
  margin-bottom 10px
  +min-breakpoint(medium)
    margin-bottom 50px
  +min-breakpoint(large)
    margin-bottom 60px

.rooms-push__item
  display flex
  width 100%
  +min-breakpoint(medium)
    white-space nowrap
  +min-breakpoint(large)
    font-size 16px

.rooms-push__item-wrap
  display flex
  flex-direction column
  align-items center
  width 290px
  margin 20px auto 30px
  padding-bottom 25px
  box-shadow 0 0 25px rgba(208, 208, 208, 0.25)
  border-radius 0 0 8px 8px
  +min-breakpoint(medium)
    width 678px
    position relative
    padding 30px 0 30px 333px
    margin-bottom 50px
    box-shadow none
  +min-breakpoint(large)
    width 1030px
    margin-bottom 30px
    padding 60px 0 60px 530px

.rooms-push__item .button
  margin-top 20px

.rooms-push__description
  padding 15px 25px 0
  margin-bottom auto
  +min-breakpoint(medium)
    margin-bottom 0
    padding 40px
    position relative
    background-color white
    z-index 10
    box-shadow 0 0 25px rgba(208, 208, 208, 0.25)
    border-radius 8px
  +min-breakpoint(large)
    padding 40px 117px 40px 100px

.rooms-push__name
  margin 0 0 15px 0
  font-family "Rubik"
  font-weight 500
  font-size 20px
  line-height 24px
  +min-breakpoint(large)
    font-size 22px
    line-height 26px
    margin 0 0 20px 0

.rooms-push__photo
  width 100%
  border-radius 8px 8px 0 0
  margin 0
  +min-breakpoint(medium)
    width 442px
    height 100%
    position absolute
    top 0
    bottom 0
    left 0
    img
      height 100%
  +min-breakpoint(large)
    width 600px

.rooms-push__feature
  position relative
  line-height 27px
  padding-left 19px
  +min-breakpoint(large)
    padding-left 21px
  &::before
    position absolute
    top 9px
    left 1px
    content ''
    width 11px
    height 11px
    border-radius 50%
    background-color var(--main-yellow)
    +min-breakpoint(large)
      width 13px
      height 13px

.rooms-push__wrapper
  position relative
  overflow hidden
  &::before
    position absolute
    top 33px
    left 50%
    content ''
    width 150px
    height 46px
    background-image url('./img/fish.svg')
    background-size 100% auto
    margin-left -165px
    +min-breakpoint(medium)
      top 49px
      width 339px
      height 106px
      margin-left -390px
    +min-breakpoint(medium)
      top 27px
      width 484px
      height 151px
      margin-left -682px
