include ../button-mixin

div.promo
    div.container

        p.promo__location Санкт-Петербург
        h1.promo__title Котейка
        h2.promo__description Уютная гостиница для котов и кошек
        +button('#', true)

