.promo
  padding 50px 22px 230px 22px
  background-color var(--light-orange)
  text-align center

.promo__location
  margin 0
  font-size 12px
  line-height 14px
  margin-bottom 12px

.promo__title
  margin 0 0 22px 0
  font-family "Rubik"
  font-size 44px
  line-height 52px
  font-weight 700

.promo__description
  margin 0 0 40px 0
  font-weight 500
  font-size 16px
  line-height 19px

