extends ../components/main-layuot/main-layout

block variables
    - var title = 'Котейка';
    - var description = 'Уютная гостиница для котов и кошек';
    - var pageClass = 'index-page';

block content
    include ../components/features/features
    include ../components/rooms-push/rooms-push