extends ../components/main-layout/main-layout

block append head
    link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")

block variables
    - var title = 'Котейка';
    - var description = 'Уютная гостиница для котов и кошек';
    - var pageClass = 'index-page';

block content
    include ../components/features/features
    include ../components/rooms-push/rooms-push
    include ../components/reviews/reviews
