header.header
    div.container
        div.header__wrapper
            div.header__logo.logo
                a.logo__link
                    img(src=require("../../img/logo.svg").default width="46" height="38").logo__img
            button.header__burger
            nav.header__nav
                include ../site-nav/site-nav

