header.header
    div.container
        div.header__wrapper
            div.header__logo.logo
                a.logo__link
                    img(src=require("../../img/logo.svg").default width="46" height="38").logo__img
            nav.header__nav
                label(for="burger").header__burger
                    img(src=require("../../img/burger.svg").default)
                    span.visually-hidden Открыть меню
                input(type="checkbox" id="burger").visually-hidden
                include ../site-nav/site-nav

