.header
  &--menu-open
    background-color var(--main-yellow)

.header__logo img
  width 46px
  height 38px
  +min-breakpoint(medium)
    width 63px
    height 52px

.header__nav
  display none
  width 100%
  padding-bottom 188px
  +min-breakpoint(medium)
    display block
    width auto
    padding 0

.header--menu-open .header__nav
    display block

.header__wrapper
  min-height 62px
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items center

.header__burger
  width 62px
  height 62px
  background-color transparent
  background-image url("./img/burger.svg")
  background-repeat no-repeat
  background-position 50%
  border none
  outline none
  +min-breakpoint(medium)
    display none

.header--menu-open .header__burger
    background-image url("./img/close.svg")

.header__contacts
  +min-breakpoint(medium)
    display none

.header__phone
  margin 12.5px 0 25px 0
  font-size 16px
  line-height 19px

.header__phone a
  color var(--main-text-color)