extends ./components/main-layuot/main-layout

block variables
    - var title = 'Котейка';
    - var description = 'Каталог номеров';
    - var pageClass = 'inner-page';

block content
    section
        .container