extends ./components/main-layuot/main-layout

block variables
    - var title = 'Котейка';
    - var description = 'Уютная гостиница для котов и кошек';
    - var pageClass = 'index-page';

block content
    section
        .container