html
  box-sizing border-box

*,
*::before,
*::after
  -webkit-box-sizing inherit

body
  min-width 320px
  margin 0
  padding 0
  font-family "Lato", "Rubik", sans-serif
  font-size 15px
  line-height 18px
  color var(--main-text-color)
  background-color var(--main-white)

input,
textarea,
select,
button,
a
  transition-property color, background-color
  transition-duration .4s
  font inherit
  text-decoration none
  color inherit

img
  width 100%
  height auto

.container
  max-width 290px
  margin 0 auto
  +min-breakpoint(medium)
    max-width 678px
  +min-breakpoint(large)
    max-width 1170px


.visually-hidden
  position absolute

  width 1px
  height 1px
  margin -1px
  border 0
  padding 0

  clip rect(0 0 0 0)
  overflow hidden

.button
  transition-property color, background-color
  transition-duration .4s
  position relative
  display inline-block
  font-size 16px
  line-height 19px
  font-weight 600
  padding 15px 63px 16px 30px
  border none
  box-shadow 0 5px 25px rgba(26, 33, 47, 0.1)
  border-radius 25px
  color var(--main-white)
  background-color var(--orange)
  outline none
  &:hover,
  &:focus
    color var(--main-text-color)
    background-color var(--main-white)
  &--invert
    color var(--main-text-color)
    background-color var(--main-white)
    &:hover,
    &:focus
      background-color var(--orange)
      color var(--main-white)

.button__text
    position relative

.button__icon
  transition-property color, background-color
  transition-duration .4s
  position absolute
  top 50%
  margin-top -18px
  right 7px
  display inline-flex
  justify-content center
  align-items center
  width 36px
  height 36px
  border-radius 50%
  color var(--orange)
  background-color var(--main-white)
  &--invert
    background-color var(--orange)
    color var(--main-white)

.button:hover .button__icon,
.button:focus .button__icon
    background-color var(--orange)
    color var(--main-white)
.button:hover .button__icon--invert,
.button:focus .button__icon--invert
    color var(--orange)
    background-color var(--main-white)

.slider
  overflow hidden
  visibility hidden
  position relative

.swiper-wrapper
  box-sizing inherit

.slider__wrapper
  overflow hidden
  position relative
  display flex

.slider__wrapper > li
  width 100%
  position relative
  overflow hidden

.slider__controls
  +min-breakpoint(large)
    display flex
    align-items center
    max-width 1030px
    margin 0 auto
    padding 25px 0

.slider__dots,
.swiper-pagination
  position static
  display flex
  justify-content space-between
  width 60px
  margin 0 auto

.slider__control,
.swiper-pagination-bullet
  transition-property background-color
  transition-duration .4s
  display inline-block
  width 12px
  height 12px
  border-radius 50%
  background-color var(--main-gray)
  cursor pointer
  opacity 1

.slider__input:checked + .slider__control,
.swiper-pagination-bullet-active
  background-color var(--main-yellow)

.slider__button
  display none
  +min-breakpoint(large)
    position relative
    display block
    width 36px
    height 36px
    padding 0
    color var(--orange)
    box-shadow 0 2px 12px rgba(173, 152, 143, 0.25)
  &::after
    content ''
    position absolute
    top 50%
    left 50%
    margin-top -4px
    margin-left -5px
    width 8px
    height 8px
    border 2px solid currentColor
    border-top-color transparent
    border-right-color transparent
  &--prev
    margin-right 10px
  &--next::after
    transform rotate(-135deg)
  &--prev::after
    margin-left -2px
    transform rotate(45deg)
